body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color, #f0f0f0);
    background-image: var(--bg-image, none);
    background-size: cover;
    background-position: center;
    color: var(--text-color, #000000);
    margin: 0;
    transition: background-color 0.5s, color 0.5s, background-image 0.5s;
}


.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#timer {
    font-size: 48px;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

#taskContainer {
    margin-top: 30px;
}

#taskList {
    list-style-type: none;
    padding: 0;
}

#taskList li {
    padding: 5px 0;
    display: flex;
    align-items: center;
}

#taskList li input[type="checkbox"] {
    margin-right: 10px;
}

#taskList li.checked span {
    text-decoration: line-through;
    opacity: 0.6;
}

#taskInput {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}

#themeContainer {
    margin-top: 30px;
}
